<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  	<test name="GoogleTest">
		<parameter name="browserName" value="Edge" />
		<parameter name="Author" value="Forida" />
		<classes>
			<class name="com.pro.rough.TwoTest">
				<methods>

					<include name="googleTest" />


				</methods>
			</class>
		</classes>
	</test>
  	<test name="FacebookTest">
		<parameter name="browserName" value="Firefox" />
		<parameter name="Author" value="Forida" />
		<classes>
			<class name="com.pro.rough.TwoTest">
				<methods>

					<include name="FacebookTest" />


				</methods>
			</class>
		</classes>
	</test>
  	<test name="hackerrank Test">
		<parameter name="browserName" value="Firefox" />
		<parameter name="Author" value="Forida" />
		<classes>
			<class name="com.pro.rough.TwoTest">
				<methods>

					<include name="hackerrankTest" />


				</methods>
			</class>
		</classes>
	</test>

</suite> <!-- Suite -->
